.btn{
    border:0;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    min-width: 150px;

}

.btn:hover{
    cursor:pointer;
    opacity: .9;
}

.red{
    background-color: red;
    color:white;
}

.blue{
    background-color: #0d6efd;
    color: white;
}

.green{
    background-color: green;
    color: white;
}

.orange{
    background-color: orange;
    color: white;
}