.Header {
    background-color: #333;
    color: white;
    padding: 1rem;
}

.Header a{
    color: white;
    text-decoration: none;
}

.logo{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.navbar{
    justify-content: space-between;
    display: flex;
    gap:.3rem;
}

.menu ul{
    display: flex;
    align-items: center;
    gap:1rem;
}

