.aboutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    max-width: 1024px;
    margin:0 auto;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.text {
    font-size: 1.2rem;
    text-align: center;
    max-width: 800px;
    margin-bottom: 2rem;
}

.cardsContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 30%;
    text-align: center;
}

.card i {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.card h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.card p {
    font-size: 1rem;
}
